{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Add Subject</h1>
<form method="post">
    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Subject Name</label>
            <input name="subject_name" class="form-control" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Subject Type</label>
            <input name="subject_type" class="form-control" required>
        </div>
        <div class="col-md-6">
            <label class="form-label">Faculty Name</label>
            <select name="faculty_name" class="form-select" required>
                {% for teacher in teachers %}
                    <option value="{{ teacher.teacher_name }}">{{ teacher.teacher_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label class="form-label">Semester</label>
            <input name="semester" class="form-control" value="SEM-VI" required>
        </div>
        <div class="col-md-3">
            <label class="form-label">Hours Per Week</label>
            <input type="number" name="hours_per_week" class="form-control" required>
        </div>
    </div>
    <button class="btn btn-success mt-4">Save Subject</button>
</form>
{% endblock %}
